[data-theme='green'] {
  --primary-color: 22, 163, 74;
  --minor-color: 187, 247, 208;
  --background-color: 255, 255, 255;
  --text-color: 33, 33, 33;
  --screen-bg-color: linear-gradient(
    120deg,
    rgba(var(--minor-color), 0.35),
    #effcf3,
    rgba(var(--primary-color), 0.3)
  );
  --scrren-grid-bg-color: linear-gradient(to right, rgba(22, 163, 74, 0.08) 1px, transparent 100px),
    linear-gradient(to bottom, rgba(22, 163, 74, 0.08) 1px, transparent 100px);
  --group-bg-color: 33, 33, 33;
}
